<h2>Your Cart</h2>
<p id="notice"><%= notice %></p>

<p>
  <ul>
    <% @shopping_cart.products.each do |pdt| %>
    <li><%= pdt.title %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
