<div class="container">
  <div class="row">  
  <% if notice %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p id="notice"><%= notice %></p>
  </div>
  <% end %>
    <div class="text-center">
      <%= image_tag("ninja2.png") %>
    </div>
    <div class="text-center">
      <h1>Laser Spirit.</h1> 
      <h3>Your minimalist solution to digital E-commerce!</h3>
    </div>
  </div>
</div>











