<div class="container">
  <div class="row">  
  <% if notice %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p id="notice"><%= notice %></p>
  </div>
  <% end %>
    <div class="text-center">
      <%= image_tag("ninja2.png") %>
    </div>
    <div class="text-center">
      <h1>Laser Spirit.</h1> 
      <h3>Your minimalist solution to digital E-commerce!</h3>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="col-md-6 text-center">
    <div clas="intro">
      <h4>Laser Spirit is a digital E-commerce solution built with the developer in mind. It is built on Rails and used an assortment of phenominal third party solutions:</h4>
        <ul>
          <li>Sunspot and Solr for high powered search and indexing.</li>
          <li>Carrierwave and Amazon Web Services for easy image uploading and resizing.</li>
          <li>Active Admin for a sleek admin interface.</li>
          <li>Built on top of Bootstrap for fast and seamless customizations.</li>
        </ul>
    </div>
  </div>
</div>
 -->









